In [1]:
import pandas as pd
import seaborn as sns

In [5]:
tips = sns.load_dataset('tips')    # 내장된 자료
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [7]:
tips['sex_str'] = tips['sex'].astype(str)        # 카테고리를 문자열로 바꾸겠다.

In [9]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.3+ KB

In [10]:
tips['total_bill']= tips['total_bill'].astype(str)

In [11]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    object
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(1), int64(1), object(2)
memory usage: 9.3+ KB

In [12]:
tips['total_bill']= tips['total_bill'].astype(float)

In [13]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
 7   sex_str     244 non-null    object
dtypes: category(4), float64(2), int64(1), object(1)
memory usage: 9.3+ KB

In [14]:
tips_sub = tips.head(10)

In [17]:
import warnings
warnings.filterwarnings('ignore')                 #경고창 지우기

In [28]:
tips_sub.loc[[1,3,5,7],'total_bill'] = 'missing'#loc : 이름으로 접근 [행,열]
tips_sub

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7    missing  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male

In [25]:
tips_sub['total_bill'] = tips_sub['total_bill'].astype(float)

ValueError: could not convert string to float: 'missing'

In [31]:
result1 = pd.to_numeric(tips_sub['total_bill'], errors='coerce')  # 에러 종류 3가지 coerce : NaN값으로 바꿔줌
result1.dtype

dtype('float64')

In [34]:
result1 = pd.to_numeric(tips_sub['total_bill'], errors='coerce', downcast='float')
result1.dtype

dtype('float32')

In [35]:
def my_sq(x):
    return x ** 2

my_sq(3)

9

In [36]:
df=pd.DataFrame({'a':[10,20,30],'b':[20,30,40]})
df

    a   b
0  10  20
1  20  30
2  30  40

In [37]:
my_sq(df['a'])

0    100
1    400
2    900
Name: a, dtype: int64

In [38]:
def my_exp(x,n):
    return x**n

my_exp(df['a'],3)

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [39]:
df['a'].apply(my_exp,n=2)

0    100
1    400
2    900
Name: a, dtype: int64

In [ ]:
import seaborn S